body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	padding: 2rem;
}

fieldset {
	border: none;
}

legend {
	font-size: 2rem;
}

label {
	display: block;
}

label+label,
button {
	margin-top: .25rem;
}