article {
	overflow: hidden;
	box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
	background-color: white;
	padding: 1rem;
	cursor: pointer;
	margin: .25rem;
}

article a {
	color: var(--ns-linkBlue);
	transition: all .1s ease-out;
	display: inline-block;
	margin-top: 1rem;
	background: url(../Images/icon_arrowRight.png) no-repeat left center;
	background-size: .5rem;
	padding-left: 1rem;
}

article:hover a,
article a:focus {
	color: var(--ns-blue);
	padding-left: .75rem;
	margin-left: .25rem;
}

article button:hover,
article button:focus {
	box-shadow: none;
	background-color: rgba(0, 48, 130, .1);
}

article a::before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.0);
	z-index: 1;
}

article {
	position: relative;
}

article header {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: -1rem;
	margin-bottom: 1rem;
	padding: 4rem 1rem 3rem 1rem;
	overflow: hidden;
	background: var(--ns-yellow);
}

article>header>img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
}

article>header>img.resolved {
	top: -50%;
}

article>header>img:not(.resolved) {
	animation: rotate 2s infinite;
	width: 3rem;
	height: 3rem;
	left: calc(50% - 1.5rem);
	opacity: .1;
	top: 4.5rem;
}

.resolved + h3 {
	color: white;
	text-shadow: 0 0 .3rem black;
}

.resolved + h3 + button:not(:focus):not(:hover) {
	filter: brightness(0) invert(1);
}

.resolved + h3 + button:focus,
.resolved + h3 + button:hover {
	background: white;
}

article header h3 {
	z-index: 1;
}

article footer {
	margin-bottom: .5rem;
}

article footer * {
	display: inline-block;
}

article footer li:last-of-type::before {
	content: "·";
	margin-right: .4rem;
}

article footer li:last-of-type {
	font-style: italic;
}

article header button,
article header button:focus {
	background: none;
	box-shadow: none;
	padding: 1.4rem 1.3rem 1.2rem 1.3rem;
	position: relative;
	transform: scale(.7);
	border-radius: 50%;
	transition: all .1s ease-out;
	top: -.65rem;
	left: 12px;
}

article header button:hover,
article header button:focus {
	background-color: rgba(0, 48, 130, .1);
}

article header button:hover img[src="images/trashlid.png"]:first-of-type,
article header button:focus img[src="images/trashlid.png"]:first-of-type{
	transform: translate(-5px, -26px) rotate(-25deg);
}

article header button img[src="images/trashlid.png"] {
	transform: translateY(-21px);
	transition: all .1s ease-out;
}

article header button img[src="images/trashcan.png"] {
	transform: translateY(8px);
	margin-left: -35px;
}

article header button:hover,
article header button:focus {
	box-shadow: none;
}

article button {
	transition: background-color .1s ease-out;
	z-index: 2;
}

@keyframes rotate {
  80% {
  	transform: rotate(540deg);
  }
	
	100% {
  	transform: rotate(540deg);
  }
}

/* -- Eerste verhaaltje -- */
article:first-of-type {
	width: 100%;
}