article {
	overflow: hidden;
	box-shadow: 0 0.125rem 0 0 rgba(7, 7, 33, .15);
	background-color: white;
	padding: 1rem;
	cursor: pointer;
	margin: .25rem;
}

article a {
	color: var(--ns-linkBlue);
	transition: all .1s ease-out;
	display: inline-block;
	margin-top: 1rem;
	background: url(../Images/icon_arrowRight.png) no-repeat left center;
	background-size: .5rem;
	padding-left: 1rem;
}

article:hover a,
article a:focus {
	color: var(--ns-blue);
	padding-left: .75rem;
	margin-left: .25rem;
}

article a::before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.0);
	z-index: 1;
}

article {
	position: relative;
}

article.added::before {
	content: "Toegevoegd!";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
	font-size: 3rem;
	background: green;
	z-index: 3;
	color: white;
}

article header {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: -1rem;
	margin-bottom: 1rem;
	padding: 4rem 1rem 3rem 1rem;
	overflow: hidden;
	background: var(--ns-yellow);
}

article:first-of-type header {
	align-items: center;
	padding: 6rem;
}

article:first-of-type h3 {
	margin-top: -1.5rem;
}

article>header>img {
	position: absolute;
	left: 0;
	top: 0;
}

article>header>img.resolved {
	min-height: 100%;
	min-width: 100%;
}

article>header>img:not(.resolved) {
	animation: rotate 2s infinite;
	width: 3rem;
	height: 3rem;
	left: calc(50% - 1.5rem);
	opacity: .1;
	top: 4.25rem;
}

.resolved + h3 {
	text-shadow: 0 0 .3rem black;
	color: white;
}

.resolved + h3 + button:not(:focus):not(:hover) {
	filter: brightness(0) invert(1);
}

.resolved + h3 + button:focus,
.resolved + h3 + button:hover {
	background: white;
}

article header h3 {
	z-index: 1;
	color: var(--ns-blue);
}

article footer {
	margin-bottom: .5rem;
}

article footer li {
	display: inline-block;
}

article footer li:nth-of-type(2)::before {
	content: "·";
	margin: 0 .5rem 0 .3rem;
}

article footer li:last-of-type {
	margin: .3rem 0;
	display: block;
	opacity: .33;
}

article header button {
	background: none;
	box-shadow: none;
	padding: 1.4rem 1.3rem 1.2rem 1.3rem;
	position: relative;
	transform: scale(.7);
	border-radius: 50%;
	transition: all .15s ease-out;
	top: -.65rem;
	left: 12px;
}

article header button:hover,
article header button:focus {
	background-color: var(--ns-blue);
}

article header img:not(.resolved)+h3+button:hover img,
article header img:not(.resolved)+h3+button:focus img {
	filter: brightness(0) invert(1);
}

article header button:hover img[src="images/trashlid.png"]:first-of-type,
article header button:focus img[src="images/trashlid.png"]:first-of-type{
	transform: translate(-5px, -26px) rotate(-25deg);
}

article header button img[src="images/trashlid.png"] {
	transform: translateY(-21px);
	transition: all .1s ease-out;
}

article header button img[src="images/trashcan.png"] {
	transform: translateY(8px);
	margin-left: -35px;
}

article header button:hover,
article header button:focus {
	box-shadow: none;
}

article button {
	transition: background-color .1s ease-out;
	z-index: 2;
}

@keyframes rotate {
  80% {
  	transform: rotate(540deg);
  }
	
	100% {
  	transform: rotate(540deg);
  }
}

article:first-of-type {
	width: 100%;
	padding: 3rem;
}

article:first-of-type header {
	margin: -3rem;
	margin-bottom: 1.5rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

article:first-of-type header img:not(.resolved) {
	top: 6.25rem;
}