:root {
	font-size: 1.125em;
	--ns-yellow: rgba(255, 201, 23, 1);
	--ns-blue: rgba(0, 48, 130, 1);
	--ns-lightBlue: rgba(82, 100, 205, 1);
	--ns-linkBlue: rgba(0, 121, 211, 1);
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Segoe UI', sans-serif;
	font-weight: 100;
	box-sizing: border-box;
	user-select: none;
	text-rendering: optimizeLegibility;
}

button,
input,
body>header a {
	transition: transform .1s ease-out;
}

button:active,
input:active,
body>header a:active {
	transform: scale(.9);
}



h1 {
	cursor: default;
}

button,
input {
	font-size: inherit;
}

button {
	box-shadow: inset 0 -.125rem 0 rgba(0, 0, 0, .2);
	border: none;
	padding: .3rem;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .1);
	transition: box-shadow .15s ease-out;
}

button:hover,
button:focus {
	box-shadow: inset 0 -3rem 0 rgba(0, 0, 0, .2);
	outline: none;
}

label {
	display: inline-block;
	padding: .6rem;
	padding-left: .6rem;
	background: white;
	color: var(--ns-blue);
	font-weight: 500;
	cursor: text;
}

label>input {
	background: none;
	border: none;
	margin-top: -.3rem;
	margin-left: .3rem;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	list-style: none;
}

@keyframes tapRipple {
	0% {
		transform: scale(0);
		opacity: .2;
	}
	80% {
		transform: scale(1.3);
		opacity: .2;
	}
	100% {
		transform: scale(1.5);
		opacity: 0;
	}
}

@keyframes popIn {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	60% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
		opacity: 1;
		visibility: visible;
	}
}

@keyframes popOut {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	40% {
		transform: scale(1.1);
	}
	99% {
		width: auto;
		height: auto;
	}
	100% {
		transform: scale(0);
		opacity: 0;
		width: 0;
		height: 0;
	}
}