main>form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-evenly;
	margin: 2rem 0;
}

main>form fieldset {
	border: none;
	width: 33%;
	text-align: center;
}

main>form legend {
	font-size: 1.25rem;
	font-weight: 400;
	color: var(--ns-blue);
	margin-bottom: .5rem;
}

main>form input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
}

main>form label {
	background: none;
	cursor: pointer;
}

main>form button {
	background: none;
	box-shadow: none;
	padding: .55rem;
}

main>form fieldset input:focus+label {
	border: 1px dotted var(--ns-blue);
	margin: -1px 0;
}

main>form fieldset:last-of-type label {
	width: 33%;
}

main>form fieldset:first-of-type label {
	width: 44.5%;
}

main>form fieldset button {
	text-indent: -9999rem;
	background: url(../Images/icon_sortOrder.png) no-repeat center center;
	width: 11%;
	transition: transform .25s ease;
}

main>form input:checked+label {
	box-shadow: inset 0 -.125rem 0 var(--ns-blue);
}

main>form input:not(:checked)+label {
	color: black;
	opacity: .2;
	box-shadow: inset 0 -.125rem 0 black;
}

@media (max-width: 60rem) {
	main>form fieldset {
		width: 45%;
	}
}

@media (max-width: 60rem) {
	main>form fieldset {
		width: 75%;
	}
	main>form fieldset+fieldset {
		margin-top: 2rem;
	}
}