body>header {
	position: sticky;
	top: 0;
	box-shadow: 0 0.125rem 0 0 rgba(7,7,33,.15);
	height: 4.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body>header * {
	display: inline-block;
	vertical-align: middle;
}

nav {
	padding: .75rem;
}

body>header {
	background-color: white;
	color: var(--ns-blue);
	z-index: 98;
}

body>header>a>img {
	width: 4rem;
	margin: 1.25rem 2rem;
}

body>header nav * {
	font-weight: 400;
}

body>header nav img {
	width: 2.25rem;
	height: 2.25rem;
}

body>header label {
	background: none;
	padding-top: .4rem;
	cursor: pointer;
}

body>header input {
	height: 2rem;
	margin-top: .05rem;
	background: url(../Images/icon_search.png) no-repeat center right .3rem;
	text-align: right;
	cursor: pointer;
	width: 3rem;
}

body>header input:focus,
body>header input:valid {
	background: none;
	cursor: text;
	width: 10rem;
}

body>header h1 {
	font-weight: 400;
}

@media (max-width: 50rem) {
	body>header h1,
	body>header span {
		display: none;
	}
	body>header {
		font-size: 3vw;
	}
}