body {
	background-color: var(--ns-grey);
}

main {
	display: flex;
	flex-wrap: wrap;
}

h3 {
	font-size: 2.375rem;
	max-width: 70%;
}

h2+span {
	margin-left: .5rem;
}

/*mobile*/
li>a>span { 
	display: none;
}

form li>button {
	box-shadow: none;
	background: none;
	color: var(--ns-blue);
	width: 2rem;
	border-radius: 50%;
}

form li>button:hover {
	box-shadow: inset 0 -2.1rem 0 var(--ns-blue);
	color: white;
	transform: rotate(360deg);
}