article header button,
article header button:focus {
	background: none;
	box-shadow: none;
	padding: 1.5rem 1.5rem 1.3rem 1.3rem;
	position: relative;
	transform: scale(.7);
	border-radius: 50%;
	transition: all .1s ease-out;
	top: -.65rem;
	left: 12px;
}

article header button:hover {
	background-color: rgba(0, 48, 130, .1);
}

article header button:hover img:first-of-type {
	transform: translate(-5px, -26px) rotate(-25deg);
}

article header button img:first-of-type {
	transform: translateY(-21px);
	transition: all .1s ease-out;
}

article header button img:not(:first-of-type) {
	transform: translateY(8px);
	margin-left: -35px;
}

article header button:hover {
	box-shadow: none;
}