@font-face {
	font-family: powerful;
	src: url(../../fonts/hardboiled/Powerful.ttf);
}

@font-face {
	font-family: amsterdam;
	src: url(../../fonts/hardboiled/amsterdam.ttf);
}

@font-face {
	font-family: adrip1;
	src: url(../../fonts/hardboiled/adrip1.ttf);
}

@font-face {
	font-family: freshmarker;
	src: url(../../fonts/hardboiled/freshmarker.ttf);
}

@font-face {
	font-family: Painterz;
	src: url(../../fonts/hardboiled/Painterz.ttf);
}

main {
	background: url(../../Images/backgrounds/bliksemies.png) repeat;
	color: black;
}

main img {
	position: fixed;
	top: 50vh;
	z-index: 1;
	width: 20vw;
	transform-origin: -1rem center;
	transition: all .3s ease;
}

main h1 {
	font-size: 6rem;
	text-align: center;
	padding: 6rem 0;
	font-family: powerful;
	text-transform: uppercase;
	font-size: 9vw;
}

main p {
	margin: 0 10vw;
	padding: 5vh 15vw;
	font-size: 1.7vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	line-height: calc(.3rem + 4.5vh);
}

main span+span {
	margin-left: .5rem;
}

span.scheldwoord {
	background: url(../../Images/backgrounds/kogel.png) no-repeat left 59%;
	background-size: contain;
	padding: 0 2rem;
	transform: translateX(-100%);
	transform-origin: left;
	transition: all 1s ease;
	line-height: 5rem;
	z-index: 0;
	display: block;
	width: 100%;
	font-size: 2.5rem;
	color: white;
}

@media (max-width: 60rem) {
	main p {
		line-height: 2.4rem;
		font-size: 3vw;
	}
}